{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}
<body>
{% for label, messages in app.flashes(['success_logout']) %}
        {% for message in messages %}
                <div class="flash-{{ label }}">
                        {{ message }}
                </div>
        {% endfor %}
{% endfor %}

{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
<a href="{{ path('app_login') }}">Logowanie</a>
<a href="{{ path('app_register') }}">rejestracja pacjenta</a>
    <a href="{{ path('app_register_doctor') }}">rejestracja lekarza</a>
    {% endif %}
{% if is_granted('ROLE_PATIENT') %}
<a href="{{ path('app_visit_addvisit') }}">dodaj wizyte</a>
    <a href="{{ path('app_visit_listvisit') }}">zobacz swoje wizyty</a>
    <a href="{{ path('app_logout') }}">Wyloguj</a>
{% endif %}
{% if is_granted('ROLE_DOCTOR') %}

    <a href="{{ path('app_logout') }}">Wyloguj</a>
{% endif %}
</body>
{% endblock %}
