{% extends 'base.html.twig' %}

{% block title %}Przychodnia{% endblock %}

{% block body %}
<body>
{% include 'site/menu.html.twig'%}
{% for label, messages in app.flashes(['success_logout']) %}
        {% for message in messages %}
                <div class="flash-{{ label }}">
                        {{ message }}
                </div>
        {% endfor %}
{% endfor %}

<div class="container">
    <div class="row mt-5">
        {% if allvisits is defined %}
        <div class="col-md-4">
                <div class="stats">
               <p class="stats-text"> All visits booked</p>
                <span>{{ allvisits }}</span>
                </div>
        </div>{% endif %}
        {% if allvisits is defined %}
         <div class="col-md-4">
                <div class="stats">
                    <p class="stats-text">All registered doctors</p>
                <span>{{ alldoctors }}</span>
                </div>
        </div>{% endif %}
        {% if allvisits is defined %}
         <div class="col-md-4">
                <div class="stats">
               <p class="stats-text"> All registered Patients</p>
                    <span>{{ allpatients }}</span>
                </div>
        </div>
    </div> {% endif %}
</div>


</div>

</body>
{% endblock %}

