{% extends 'base.html.twig' %}

{% block body %}
{% include '/site/menu.html.twig'%}
        <div>
            <h1>Upcoming visits</h1>
     
        </div>
        <div>
            <table class="table">
                <thead class ="thead-dark">
                <tr>
                    <th>Lp</th>
                    <th scope="col">
                        Start of visit
                    </th>
                    <th scope="col">
                        Visit end time
                    </th>
                    <th scope="col">
                        Doctor
                    </th>
                    <th scope="col">
                        Patient
                    </th>
                </tr>
                </thead>

                <tbody>
                {% for key,item in visits %}
                    <tr>
                        <th scope="row">{{ key+1 }}</th>
                        <td>
                            {{ item.startDate | date }}
                        </td>
                        <td>
                            {{ item.endDate | date('H:i') }}
                        </td>
                        <td>
                            {{ item.doctor }}
                        </td>
                        <td>
                            {{ item.patient }}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>


{% endblock %}